# App Settings 
PAGE_TITLE=Village & School Intelligence Portal
PAGE_LAYOUT=wide
LOG_LEVEL=INFO

# School Report Settings 
SCHOOL_FILENAME=school_data.xlsx
SCHOOL_LIST_PATH=src/data/processed/school_data.xlsx
FUZZY_SCORE_THRESHOLD=85

# LLM Settings 
API_KEY=your_google_gemini_api_key_here
GEMINI_MODEL_NAME=gemini-2.5-flash-lite
MODEL_NAME=gemini
MODEL_TEMP=0.3
ENABLE_REMARK_REPHRASE=true
MAX_REPHRASE_RETRIES=3

# Database Settings 
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/

# Font Settings 
PUNJABI_REGULAR_FONT_PATH=src/punjabi_font/NotoSansGurmukhi-Regular.ttf
PUNJABI_BOLD_FONT_PATH=src/punjabi_font/NotoSansGurmukhi-Bold.ttf
PUNJABI_FONT_LOADED=false